.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-color: rgb(92, 222, 254);
  background-image: linear-gradient(
    -45deg,
    rgb(92, 222, 254) 0%,
    rgb(224, 246, 251) 100%
  );
  background-position: center;
  z-index: -1;
}
