.extraContent {
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(0, 0);
  width: 100%;
  height: fit-content;
  border: 1px solid #ccc;
  padding: 1rem;
  transition-property: opacity;
  transition-duration: var(--transition-duration);
  transition-delay: none;
  font-size: small;
  opacity: 0;
}

@media (max-width: 600px) {
  .extraContent {
    font-size: x-small;
  }
}

@media (max-width: 400px) {
  .extraContent {
    top: 50%;
  }
}

.showExtraContent {
  opacity: 1;
  transition-delay: var(--transition-delay);
}
