.resultsContainer {
  max-width: 800px;
  background-color: #212121;
  color: #eaeaea;
  margin-top: 2rem;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding: 1.5rem;
  padding-top: 1rem;
  width: 100%;
  border-radius: 8px;
}
