:root {
  --transitionDuration: 150ms;
}

.savedPath {
  fill: none;
  transition-property: transform;
  transition-duration: var(--transitionDuration);
}

.pieChartContainer {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 500px;
  transition-property: transform;
  transition-duration: var(--transitionDuration);
  transition-timing-function: ease-in-out;
}

.shrunk {
  transform: scale(0.9) translateY(-10%);
}

.keyContainer {
  /* display: flex;
  flex-direction: row; */
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0px;
  left: 20px;
  height: 30px;
  width: fit-content;
  gap: 20px;
  margin-bottom: 2rem;
}
