:root {
  --transitionDuration: 150ms;
}

.savedPath {
  fill: none;
  transition-property: transform, stroke-dashoffset;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

.pieChartContainer {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 80vw;
  max-height: 450px;
  transition-property: transform;
  transition-duration: var(--transitionDuration);
  transition-timing-function: ease-in-out;
}

.shrunk {
  transform: scale(0.9) translateY(-10%);
}

.keyContainer {
  /* display: flex;
  flex-direction: row; */
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0px;
  left: 20px;
  height: 30px;
  width: fit-content;
  gap: 20px;
  margin-bottom: 2rem;
}

.dollarStyle {
  font-size: 50px;
  font-weight: bold;
  fill: #212121;
}

.labelStyle {
  font-size: 55px;
  font-weight: 400;
  fill: #212121;
}
