:root {
  --transitionDuration: 150ms;
}

.savedPath {
  fill: none;
  transition-property: all;
  transition-duration: var(--transitionDuration);
}

.pieChartContainer {
  position: absolute;
  width: 100%;
  height: 500px;
  /* display: none; */
}
