:root {
  --transitionDuration: 150ms;
}

.savedPath {
  fill: none;
  transition-property: all;
  transition-duration: var(--transitionDuration);
}

.pieChartContainer {
  position: absolute;
  width: 100%;
  height: 500px;
  transition-property: transform;
  transition-duration: var(--transitionDuration);
  transition-timing-function: ease-in-out;
}

.shrunk {
  transform: scale(0.6) translateY(-30%);
}
