:root {
  --transition-duration: 400ms;
  --transition-delay: 200ms;
  --transition-distance: 20px;
}

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 28px;
}
h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
  color: #cccccc;
}
.contentHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  height: 100%;
}

.uiHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 600px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.025);
  padding: 1rem;
}

.graphButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

input {
  margin: 0 1rem;
}

select {
  margin: 0.5rem 0;
}

#graphContainer {
  position: relative;
  width: 800px;
  height: 500px;
}

.chartContainer {
  opacity: 1;
  transition-property: transform, opacity;
  transform: translateX(0px);
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-out;
  transition-delay: var(--transition-delay);
}

.chartContainerHiddenLeft {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-10px);
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-out;
}

.chartContainerHiddenRight {
  opacity: 0;
  pointer-events: none;
  transform: translateX(10px);
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-out;
}

.keyContainer {
  position: relative;
  width: 800px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.collegeDropdown {
  width: 100%;
  max-width: 300px;
}
