@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  color: #212121;
  background-color: #eaeaea;

  --transition-duration: 400ms;
  --transition-delay: 200ms;
  --transition-distance: 20px;
}

body {
  font-family: "Inter", sans-serif;
  color: #212121;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  margin-top: 2rem;
  margin-left: 1rem;
  font-size: 28px;
}
h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  margin-top: 0;
  font-size: 16px;
  font-weight: bold;
}

text {
  font-family: "Roboto", sans-serif;
  fill: #212121;
}

.uiHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 600px;
  border-radius: 8px;
  padding: 1rem;
}

.graphButtonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

input {
  margin: 0;
}

select {
  margin: 0.5rem 0;
}

#graphContainer {
  position: relative;
  width: fit-content;
  height: fit-content;
  border-top: 1px solid #212121;
  padding-top: 1rem;
}

.chartContent {
  position: relative;
  width: 100%;
}

.chartContainer {
  position: relative;
  opacity: 1;
  transition-property: transform, opacity;
  transform: translateX(0px);
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-out;
  transition-delay: var(--transition-delay);
}

.chartContainerHiddenLeft {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-10px);
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-out;
}

.chartContainerHiddenRight {
  opacity: 0;
  pointer-events: none;
  transform: translateX(10px);
  transition-property: transform, opacity;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-out;
}

.collegeDropdown {
  width: 100%;
}

.helpLabel {
  cursor: pointer;
}
.helpLabel::after {
  position: relative;
  content: "";
  background-image: url("./assets/helpIconsvg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
  vertical-align: middle;
}

/* input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 4px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 5px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 10%;
  background: #027fe6;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 10%;
  background: #4caf50;
  cursor: pointer;
} */
