#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.uiHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

input {
  margin: 0 1rem;
}

select {
  margin: 0.5rem;
}

#graphContainer {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto 2rem auto;
}
