.holder {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  border-radius: 10px;
  padding: 2rem;
  background-color: #212121;
}
