.holder {
  max-width: 800px;
  background-color: #f5f5f5;
  color: #212121;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
