.barGraphContainer {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  position: relative;
  width: 100%;
  height: 80vw;
  max-height: 500px;
}

.shrunk {
  transform: translateY(-10%);
}

.keyContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  left: 20px;
  height: 30px;
  width: fit-content;
  gap: 20px;
  margin-bottom: 2rem;
}
