.barGraphContainer {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  position: relative;
  width: 100%;
  height: 500px;
}

.shrunk {
  transform: scale(0.6) translateY(-30%);
}
