h1 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.6rem;
  margin-bottom: 0.25rem;
}

p {
  margin: 0;
}

header {
  margin-bottom: 2rem;
  border-bottom: 1px solid #cccccc;
}

.titleHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.25rem;
  }

  .subtitle {
    font-size: 1rem;
    color: #000000;
  }
}
