h1 {
  margin: 0;
  font-size: 2.5rem;
  line-height: 2.6rem;
  margin-bottom: 0.25rem;
}

p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #212121;
}

.titleHolder {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0rem;
}

.subtitle {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 0.25rem;
  }

  .subtitle {
    font-size: 1rem;
    color: #000000;
  }
}
