.disclaimerContainer {
  width: 100%;
  max-width: 800px;
  font-size: 0.8rem;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.disclaimerItem {
  display: grid;
  grid-template-columns: 15px 1fr;
  gap: 0.5rem;
  font-style: italic;
  font-size: 10px;
}
