.disclaimerContainer {
  margin-top: 2rem;
  width: 80%;
  max-width: 800px;
  font-size: 10px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-top: 1rem;
  padding-bottom: 4rem;
}
