.holder {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/male_graduate_2.png");
  background-size: cover;
  background-position: right center;
  border-radius: 10px;
  border: 2px solid #212121;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  color: black;
}
